


.card {
  display: flex;
  background: #FFFFFF;
 max-width: 700px;
  border-radius: 5px;
  margin: 10px;
  align: center;
  transition: all .25s linear;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
}

.card:hover{
  box-shadow: -1px 10px 29px 0px rgba(0,0,0,0.8);
}